/* inline: não quebra de linha, largura mínima. Apenas aceita margens e paddings para os lados*/
.inline {
    display: inline;
    margin-top: 100px; /* Não funciona */
    margin-bottom: 100px; /* Não funciona */
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 100px; /* Não funciona */
    padding-bottom: 100px; /* Não funciona */
    padding-left: 20px;
    padding-right: 20px;
}

/* block: quebra de linha, largura máxima, aceita margem e preenchimento lateral*/
.block {
    display: block;
    margin-top: 10px; /* Não funciona */
    margin-bottom: 10px; /* Não funciona */
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px; /* Não funciona */
    padding-bottom: 10px; /* Não funciona */
    padding-left: 20px;
    padding-right: 20px;
}

/* inline-block: não quebra de linha*/
.inline-block {
    display: inline-block;
    margin-top: 10px;
    padding-top: 10px;
}