:root {
    --cor-principal: #3c59e7;
    --cor-claro: #eaeaea;
    --cor-escuro: #232323;
    --preenchimento-short: 1rem;
    --preenchimento-middle: 2rem;
    --preenchimento-big: 4rem;
}

header {
    background-color: var(--cor-escuro);
    color: var(--cor-claro);
    padding: var(--preenchimento-short);
}

section {
    background-color: var(--cor-claro);
    padding: var(--preenchimento-middle);
}

div {
    --preenchimento-short: 1rem;
    background-color: var(--cor-principal);
    color: var(--cor-claro);
    padding: var(--preenchimento-short);
}

.red-box {
    --cor-principal: #f64348;
}